$ez-main-color: #e5dbdc;
$midle-main-color: #896b73;
$hard-main-color: #5b4d51;
$text-footer-color: #e2d8db;
$subtitle-promo-color: #c2b1b3;
$square-bottom-cart-color: rgba(91, 77, 81, 0.8);
$about-bg-color: #ffffff;
$works-bg-color: #ffffff;
$body-bg-color: #ffffff;
