@import 'libs/bootstrap-reboot.min';
@import '_nullstyle';
//@import 'base/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	max-width: 1350px;
	margin: 0 auto;
}
body {
	background-color: var(--body-bg-color);
}

:root {
	--ez-main-color: #e5dbdc;
	--midle-main-color: #896b73;
	--hard-main-color: #5b4d51;
	--text-footer-color: #e2d8db;
	--subtitle-promo-color: #c2b1b3;
	--square-bottom-cart-color: rgba(91, 77, 81, 0.8);
	--about-bg-color: #ffffff;
	--works-bg-color: #ffffff;
	--body-bg-color: #ffffff;
}

:root[data-theme='dark'] {
	--midle-main-color: #e5dbdc;
	--about-bg-color: #5b4d51;
	--body-bg-color: #e2d8db;
	--works-bg-color: #e2d8db;
	--hard-main-color: #e2d8db;
	--ez-main-color: #5b4d51;
}

@import 'blocks/dark';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/message';
@import 'blocks/subtitle';
@import 'blocks/square';
@import 'blocks/line';
@import 'blocks/works';
@import 'blocks/footer';
