.about {
	position: relative;
	display: block;
	padding-top: 80px;
	background: var(--about-bg-color);
	margin-top: 40px;
	min-height: 650px;
	&__photo {
		display: block;

		img {
			object-fit: cover;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}
	&__items {
		margin-top: 43px;
		display: flex;
		justify-content: space-between;
	}
	&__main {
		color: var(--hard-main-color);
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
	}
	&__text {
		margin-top: 26px;
	}
	&__contacts {
		margin-right: 30px;
	}
	&__skills {
		max-width: 450px;
		//margin-right: 130px;
	}
	a {
		color: var(--hard-main-color);
		&:hover {
			text-decoration: underline;
		}
	}
	&__certificates {
		background-color: #e5dbdc;
		min-height: 700px;
		//margin-bottom: 80px;
		.certificates-title {
			padding-top: 60px;
			margin-top: 40px;
			padding-left: 140px;
			text-align: left;
			font-size: 50px;
			color: #5b4d51;
		}
		.certificates-items {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 70px 30px 0px 30px;
		}
		.certificates-item {
			margin: 0 30px 30px 30px;
			width: 550px;
			img {
				border-radius: 30px;
				width: 100%;
			}
		}
	}
}

.bold {
	font-weight: bold;
}
