.dark-theme {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: 40px;
	right: 110px;
	z-index: 1;
	//outline: none; /* Для синий ободки */
	//border: 0;
	background: transparent;
}
