.line {
	background-color: #896b73;
	height: 19.38px;
	width: 100%;
	position: absolute;
	z-index: 10;

	&_about {
		top: -103px;
		left: 0;
	}

	&_works {
		top: -100px;
		left: 0;
	}

	&_footer {
		background-color: #5b4d51;
		top: -19px;
	}
}
