.line {
	background-color: $midle-main-color;
	height: 19.38px;
	width: 100%;
	position: absolute;
	z-index: 1;

	&_about {
		top: -103px;
		left: 0;
	}

	&_works {
		top: -100px;
		left: 0;
	}

	&_footer {
		background-color: $hard-main-color;
		top: -19px;
	}
}
