.message {
	width: 1200px;
	margin: 0 auto;
	min-height: 550px;
	background-color: var(--ez-main-color);
	margin-bottom: 50px;
	border-radius: 25px;
	padding-left: 40px;
	padding-right: 40px;
	&__title {
		padding-top: 40px;
		text-align: center;
		font-size: 30px;
		color: var(--hard-main-color);
	}
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}
	input,
	textarea {
		display: block;
		margin-top: 25px;
		padding: 0 15px;
		font-size: 22px;
		width: 350px;
		height: 50px;
		border-radius: 19px;
		&:focus {
			border: solid var(--hard-main-color);
		}
	}
	textarea {
		width: 600px;
		height: 200px;
		padding: 15px;
		resize: none;
	}
	&__button {
		display: block;
		margin: 120px auto;
		width: 150px;
		height: 40px;
		color: var(--text-footer-color);
		background-color: var(--hard-main-color);
		text-align: center;
		border-radius: 15px;
		&:active {
			background-color: var(--midle-main-color);
		}
	}
	&__column1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		img {
			width: 150px;
			height: 150px;
			position: absolute;
			top: 210px;
			fill: var(--midle-main-color);
		}
	}
	.error {
		border: 2px solid red;
		margin-bottom: 5px;
	}
	label.error {
		border: none;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
	}
}
