.message {
	background-color: var(--message-bg-color);
	min-height: 580px;
	//padding-bottom: 100px;
	&__container {
		width: 1200px;
		margin: 0 auto;
		min-height: 550px;
		background-color: var(--form-bg-color);
		margin-bottom: 50px;
		border-radius: 25px;
		padding-left: 40px;
		padding-right: 40px;
	}
	//&__title {
	//	padding-top: 40px;
	//	text-align: center;
	//	font-size: 30px;
	//	color: var(--subtitle-color);
	//}
	&__wrapper {
		display: flex;
		justify-content: space-around;
	}
	input,
	textarea {
		display: block;
		margin-top: 25px;
		padding: 0 15px;
		font-size: 22px;
		width: 350px;
		height: 50px;
		border-radius: 19px;
		&:focus {
			border: solid var(--form-focus-color);
		}
	}
	textarea {
		width: 600px;
		height: 200px;
		padding: 15px;
		resize: none;
	}
	&__button {
		display: block;
		margin: 120px auto;
		width: 150px;
		height: 40px;
		color: var(--form-button-text-color);
		background-color: var(--form-button-bg-color);
		text-align: center;
		border-radius: 15px;
		&:active {
			background-color: var(--form-button-active-bg-color);
		}
	}
	&__column1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		img {
			width: 150px;
			height: 150px;
			position: absolute;
			top: 210px;
			fill: var(--midle-main-color);
		}
	}
	.error {
		border: 2px solid red;
		margin-bottom: 5px;
	}
	label.error {
		border: none;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
	}
}
