.square {
	width: 155.5px;
	height: 151.3px;
	position: absolute;
	&_ez-about {
		background-color: $ez-main-color;
		right: 160px;
		top: -185px;
	}
	&_midle-about {
		background-color: $midle-main-color;
		right: 89px;
		top: -140px;
	}
	&_cart-bottom {
		width: 390px;
		height: 390px;
		background-color: rgba(91, 77, 81, 0.8);
		top: -15px;
		left: -15px;
		z-index: -2;
	}
	&_cart-top {
		width: 390px;
		height: 390px;
		background-color: $midle-main-color;
		top: -7px;
		left: -7px;
		z-index: -1;
	}
	&_midle-works {
		background-color: $midle-main-color;
		right: 89px;
		top: -140px;
	}
	&_hard-works {
		background-color: $hard-main-color;
		right: 160px;
		top: -70px;
		z-index: 11;
	}
	&_midle-footer {
		background-color: $midle-main-color;
		left: 105px;
		top: -190px;
	}
	&_hard-footer {
		background-color: $hard-main-color;
		left: 65px;
		top: -130px;
		z-index: 11;
	}
}
