.subtitle {
	font-size: 50px;
	color: var(--hard-main-color);
	&_works {
		text-align: center;
		color: var(--subtitle-color);
	}
	&_message {
		padding-top: 40px;
		text-align: center;
		font-size: 30px;
		color: var(--subtitle-color);
	}
}
